.searchDiv {
    border : 1px;
    padding-top: 50px;
}

#searchBar {
background-position: 10px 12px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}

#liste {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #liste li a {
    margin-top: -1px; /* Prevent double borders */
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #liste li a:hover{
    color:grey;
  }
  