.box {
    border: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;
    background-color: white;
    padding: 12px;
    font-size: 18px;
}

.box a {
	margin-right: 10%;
	list-style-type: none;
	margin-top: 12px;
}

.background {
    background-color: teal;
}