
.box {
    border: 1px solid black;
    background-color: white;
    padding: 12px;
}


.box {
    display: block;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
.box a {
  display: flex;
  justify-content: center;
  margin-right: 10%;
  margin-top: 5px;
  font-size: 18px;
  text-decoration:none;
}

.box li {
    list-style-type: none;
}

.background {
    background-color: teal;
}

.titleCity {
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.center {
        position:  absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin:auto;
        width: 300px;
        padding: 12px;
        display: block;
        height: 500px;
}