{% extends 'base.html.twig' %}

{% block body %}
<body class="background">
<div class = "box">
{% for spot in city.spots %}
<a href="/spot/{{spot.id}}"> {{spot.name}} </a>  
{% endfor %}
</div>


{% endblock %}

        {% block footer %}

           <!-- Footer -->
		<footer id="footer" class="wrapper style1-alt" style="padding-top : 180px;">
		 <div class="col col-lg-12">
			<p style="width: 453px;  margin: 0 auto;">
				<a style="color:white;"fonttarget="_blank" href="https://github.com/calbanel/Swell-Advice">Notre projet sur GitHub</a> /
				<a style="color:white;" target="_blank" href="https://surfrider.eu/">Surfrider Foundation</a> /
				<a style="color:white;" target="_blank" href="https://www.nuitdelinfo.com/">La nuit de l'info</a>
			</p>
		 </div>
	    </footer>
            <!-- Footer -->


{% endblock %}