{% extends 'base.html.twig' %}

{% block body %}
<body class="background"> 
<div class = "center">
<h1 class="titleCity">{{city.name}}</h1>
<div class = "box">
{% for spot in city.spots %}
<a href="/spot/{{spot.id}}"> {{spot.name}} </a>  
{% endfor %}
</div>
<a href="/" class="btn btn-light">Retour</a>
</div>


{% endblock %}