{% extends 'base.html.twig' %}

{% block body %}
<div id="toto"></div>
<script>
const lat = 58.7984;
const lng = 17.8081;
const params = 'windSpeed';

fetch(`https://api.stormglass.io/v2/weather/point?lat=${lat}&lng=${lng}&params=${params}`, {
  headers: {
    'Authorization': 'bc0663da-35af-11eb-b63f-0242ac130002-bc06648e-35af-11eb-b63f-0242ac130002'
  }
}).then((response) => response.json()).then((jsonData) => {
  console.log(jsonData);
});
</script>
{% endblock %}
